.friendList{
  width: 250px;
  padding: 0;
  margin-top: 60px;
}
.friendListItem {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 24px -9px rgba(130, 132, 141, 1);
  gap: 15px;
  margin-top: 10px;
  padding: 10px;
}
.status {
  width: 10px;
  height:10px;
  border-radius: 50%;
}
.name {
 font-weight: 500;
 color: #5072A7;
 margin-bottom: 10px;
}