.statistics {
  display: inline-block;
  margin-top: 70px;
  box-shadow: 0px 0px 24px -9px rgba(130, 132, 141, 1);
  }
.title {
  height: 55px;
  margin: 0;
  background-color: white;
  color: black;
}
.statList {
  list-style: none;
  width: 250px;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;
}
.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-block: 10px;
  color: aliceblue;
}
.label {
 margin-bottom: 5px;
 text-decoration: underline;
}
.percentage {
  font-weight:500;
}
